#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}
@font-face {
  font-family: 'Simplified Arabic';
  src: url('/fonts/Simplified Arabic.ttf') format('truetype'); /* Assurez-vous d'ajuster le chemin et le nom du fichier */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Simplified Arabic', sans-serif !important;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/assets/img/image-app.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.headerTitre{
  color: #fafafa;
}

header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}
/*****************************************************/
/****************************************************/
/* .container-bar{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.search-bar{
  background: #fff;
  width: 90%;
  height: 50px;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
  /* justify-content: space-between; */
}
#select{
  background: #160053;
 /* float: right; /* Utiliser float:right pour positionner à droite */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 250px;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}
#select img{
  width: 15px;
}
#select ul{
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  background: #fff;
  color: #555;
  width: 100%;
  border-radius: 4px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;

}
#select ul.open{
  max-height:200px;
  overflow-y: auto;
  scrollbar-color: #555555 #dddddd;
}

#select ul.open::-webkit-scrollbar {
  width: 6px; /* Pour Chrome, Safari, et Opera */
}

#select ul.open::-webkit-scrollbar-thumb {
  background-color: #555555; /* Couleur du "thumb" (la partie que vous faites glisser) */
}

#select ul.open::-webkit-scrollbar-track {
  background-color: #dddddd; /* Couleur de la piste de défilement */
}

#select ul li{
  padding: 10px 10px;
  cursor: pointer;
  direction: rtl;
}
#select ul li:hover{
  background: #160053;
  padding: 10px 10px;
  cursor: pointer;
  color: #fff;
}

.search-bar input{
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
 
}
#resultSerch{
  /* float: right; /* Utiliser float:right pour positionner à droite */
  width: 90%;
  height: 50px;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
}
.resultvide{
  width: 250px;
}
#resulet-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;

}
#resultSerch ul{
  position: absolute;
  top: 0%;
  left: 0;
  list-style: none;
  background: #fff;
  color: #555;
  width: 98%;
  border-radius: 4px;
  /* max-height: 0px;
  overflow: hidden; */
  transition: max-height 0.5s;
}


/*****************************************************/


.clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Limite à 4 lignes */
}

.clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limite à 4 lignes */
}

.img-standard {
  /*width: 120px; /* Définissez la largeur souhaitée */
  /*height: 150px; /* Définissez la hauteur souhaitée */
  object-fit: cover; /* Assure le remplissage de l'espace avec l'image */
  border-radius: 10px; /* Pour des coins arrondis, ajustez selon vos préférences */
  /* Autres styles au besoin */
}
#cardShow p{
  color: black;
}
/*carouussssssseeeellllll**************************************/
.slider{
  margin-bottom: 10px;
  position: relative;
}

.slider .owl-item.active.center .slider-card{
  transform: scale(1.15);
  opacity: 1;
  background: #4B5320;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.slider-card{
  background-color: #fff;
  margin: 50px 50px 90px 50px;
  border-radius: 10px;
  box-shadow: 0 15px 45px -20px rgb(206,191,191,0.493);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img{
  border-radius: 5px 5px 0px 0px;
  object-fit: cover; /* Assure le remplissage de l'espace avec l'image */
  border-radius: 10px;
 
}

.owl-nav .owl-next{
  position:absolute;
  top: calc(50% - 20%);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-prev{
  position:absolute;
  top: calc(50% - 20%);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-carousel .slider-card {
  width: 150px; /* Spécifiez la largeur souhaitée */
  height: 300px; /* Spécifiez la hauteur souhaitée */
}
#titreCarou h6{
  font-size: 18px;
  color: #fff;
}
/*****************************************************/
#btn-type{
    background: #4B5320;
    font-size: 18px;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
   
}
#btn-type:hover{
  scale: 1.1;
}
.product h1{
  color: #f4623a;
}

#col-filter{
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
#col-filter .c-filter h6{
  color: #4B5320;
  font-size: 30px;
  font-weight: 600;
}
#c-type h6{
  color: #4B5320;
  font-size: 20px;
  font-weight: 600;
}

#c-type a{
  color: gray;
  font-size: 16px;
  font-weight: 500;
}
#c-search form input{
  color: #4B5320;
  background: #ededed56;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  border: none;
  transition: 1s;
}
#c-search form input:focus{
  height: 45px;
  width: 400px;
  background: #ededed;
}

.c-comment{
  color: #4B5320;
  background: #ededed56;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  transition: 1s;
}
.c-comment:focus{
  background: #ededed;
}



/*affichege de documents*/
.packages .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0,0,0,0.2) 0px 4px 12px;
  transition: 0.5s;
}
.packages .card:hover{
  transform: scale(1.08);
  background: #ededed;
  cursor: pointer;
}
.packages .card img{
  border-radius: 5px;
}
.packages .card .card-body{
  background: transparent;
}
.packages .card .card-body h3{
  font-size: 20px;
  font-weight: 500;
}
.packages .card .card-body p{
  font-size: 16px;
}
.cheked{
  color: #4B5320;
}

.packages .card .card-body h4{
  font-size: 18px;
}
#voir-plus:hover{
  text-decoration: none;
}


/************logout************/
#selectNavLink{
    background:transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 4px;

}

#selectNavLink ul{
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  width: 150%; 
  border-radius: 4px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

#selectNavLink ul.open{
  max-height: 300px;
}
#selectNavLink ul li{
  padding: 10px 20px;
}
#selectNavLink ul li a{
  text-overflow: none;
}

#selectNavLink ul li:hover{
  background-color: rgba(75, 83, 32);
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}
/*************** Add products ***********/
#addProduct {
    color: #4B5320;
    background: #ededed56;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: none;
    transition: 1s;
}
#addProducttext{
  color: #4B5320;
  background: #ededed56;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  border: none;
  transition: 1s;
}
/*************** Add products ***********/

/************************/

/* #voir-plus{
  padding: 5px;
  text-decoration: none;
  background: #4B5320;
  color: white;
  border-radius: 5px;
  transition: 1s;
}
#voir-plus:hover{
    transform: scale(1.1);
} */
/*************************************/

/***************PDF**********************/



/***************PDF**********************/
