:root{
    --body:#f4f5f7;
    --contents-bg:#f4f5f7;
    --main-color:white;
    --accent:#ffffff;
    --color-menu:#404040;
    --color-menu-hover:#5840FF;
    --color-menu-active:#5840FF;
    --color-menu-bg-opacity:rgb(var(--color-primary-rgba), .10);
    --header-bg:white;
    --sidebar-bg:white;
    --main-content:var(--contents-bg);
    --header-bg:white;
    --logo-wrapper-bg:white;
    --color-add-listing-button-text:var(--color-white);
    --color-add-listing-button-text-hover:var(--color-white);
    --bgcolor-add-listing-button:#8231D3;
    --bgcolor-add-listing-button-hover:#0A0A0A;
    --color-banner_title:var(--color-white);
    --color-breadcrumb-link:#8C90A4;
    --color-breadcrumb-link-hover:#5840FF;
    --color-breadcrumb_separator:#8C90A4;
    --bgcolor-footer:#353b58;
    --color-footer-divider:#353b58;
    --color-footer-title:var(--color-white);
    --color-footer-link-hover:var(--color-white);
    --color-primary:#8231D3;
    --color-secondary:#5840FF;
    --color-success:#01B81A;
    --color-info:#00AAFF;
    --color-warning:#FA8B0C;
    --color-danger:#FF0F0F;
    --color-dark:#0A0A0A;
    --color-infos:#00E4EC;
    --color-warnings:#FFBB00;
    --color-dangers:#FF0F0F;
    --color-purple:#A722F6;
    --bg-primary:#8231D3;
    --bg-secondary:#5840FF;
    --bg-success:#01B81A;
    --bg-info:#00AAFF;
    --bg-warning:#FA8B0C;
    --bg-danger:#FF0F0F;
    --bg-dark:#0A0A0A;
    --bg-primary-hover:#6726A8;
    --bg-secondary-hover:#3520C8;
    --bg-success-hover:#0D811D;
    --bg-info-hover:#0787C7;
    --bg-warning-hover:#D9790A;
    --bg-danger-hover:#CB0000;
    --bg-dark-hover:#272525;
    --bg-gray-hover:#585858;
    --color-primary-rgba:130,49,211;
    --color-secondary-rgba:88,64,255;
    --color-success-rgba:1,184,26;
    --color-info-rgba:0,170,255;
    --color-warning-rgba:250,139,12;
    --color-danger-rgba:255,15,15;
    --color-dark-rgba:9,14,48;
    --color-primary-rgba-shadow:rgba(var(--color-primary-rgba), 0.20);
    --color-white:#fff;
    --color-light:#747474;
    --color-lighten:#A0A0A0;
    --color-lighter:#F8F9FB;
    --color-lighten-x:#5d658c;
    --footer-dark:#353b58;
    --color-deep:#eff0f3;
    --color-normal:#f8f9fb;
    --color-lighters:#f4f5f7;
    --color-lighten-rgba:173,181,217;
    --color-gray:#404040;
    --color-gray-x:#5A5F7D;
    --body-color:#666d92;
    --text-color:#666d92;
    --light-gray:#8C90A4;
    --light-gray-rgba:173,181,217;
    --border-color:#F1F2F6;
    --border-light:#E3E6EF;
    --border-deep:#c6d0dc;
    --bg-normal:#f8f9fb;
    --bg-lighters:#f4f5f7;
    --bg-lighter:#f4f5f7;
    --bg-deep:#EFF0F3;
    --bg-gray:#404040;
    --bg-light:#747474;
    --bg-white:#ffffff;
    --bg-light-rgba:116,116,116;
    --bg-normal-rgba:248,249,251;
    --bg-lighter-rgba:244,245,247;
    --bg-deep-rgba:239,240,243;
    --color-gray-rgba:173,181,217;
    --color-dark-rgba:39,43,65;
    --color-white-rgba:255,255,255;
    --box-shadow-color-rgba:146,153,184;
    --border-radius-xl:10px;
    --border-radius-md:6px;
    --border-radius-xs:4px;
    --color-facebook:#2366b8;
    --color-twitter:#00abe4;
    --color-pinterest:#ef1b25;
    --color-gplus:#dc4e41;
    --color-linkedin:#007cbc;
    --color-tumblr:#35465c;
    --color-vk:#4a76a8;
    --color-youtube:#e32212;
    --color-instagram:#9c27b0;
    --color-ruby:#c2185b;
    --color-facebook-rgba:35,102,184;
    --color-twitter-rgba:0,171,228;
    --color-pinterest-rgba:239,27,37;
    --color-gplus-rgba:220,78,65;
    --color-linkedin-rgba:0,124,188;
    --color-tumblr-rgba:53,70,92;
    --color-vk-rgba:74,118,168;
    --color-youtube-rgba:227,34,18;
    --color-instagram-rgba:156,39,176;
    --color-ruby-rgba:194,24,91;
    --color-infos-rgba:0,228,236;
    --color-warnings-rgba:255,187,0;
    --color-dangers-rgba:255,15,15;
    --color-purple-rgba:167,34,246;
    --color-primary-rgba-10:rgba(var(--color-primary-rgba), 0.1);
    --color-secondary-rgba-10:rgba(var(--color-secondary-rgba), 0.1);
    --color-primary-rgba-50:rgba(var(--color-primary-rgba), 0.5);
    --color-secondary-rgba-50:rgba(var(--color-secondary-rgba), 0.5);
    --transition:all 0.3s ease;
    --gridLines_color:#E3E6EF;
    --scrollbarBG:var(--color-white);
    --thumbBG:#E3E6EF;
    --input-bg:var(--color-white);
    --input-focus-bg:var(--color-white);
    --tooltip-bg:var(--color-white);
    --tooltip-arrow-color:var(--color-white);
    --shadow2:#9299B80D;
    --shadow3:#9299B81A;
    --shadow4:#9299B833;
    --shadow5:#9299b826
}

.layout-dark{
    --body:var(--main-color);
    --contents-bg:var(--main-color);
    --white-100:white;
    --white-87:rgb(255, 255, 255, .87);
    --white-60:rgb(255, 255, 255, .60);
    --white-30:rgb(255, 255, 255, .30);
    --white-20:rgb(255, 255, 255, .20);
    --white-10:rgb(255, 255, 255, .10);
    --white-06:rgb(255, 255, 255, .06);
    --main-color:#010413;
    --color-menu:#404040;
    --color-menu-hover:#5840FF;
    --color-menu-active:#5840FF;
    --color-menu-bg-opacity:rgb(251, 53, 134, .10);
    --header-bg:white;
    --sidebar-bg:white;
    --main-content:var(--bg-normal);
    --logo-wrapper-bg:var(--white-10);
    --header-bg:var(--white-10);
    --color-add-listing-button-text:var(--color-white);
    --color-add-listing-button-text-hover:var(--color-white);
    --bgcolor-add-listing-button:#8231D3;
    --bgcolor-add-listing-button-hover:#0A0A0A;
    --color-banner_title:var(--color-white);
    --color-breadcrumb-link:#8C90A4;
    --color-breadcrumb-link-hover:#5840FF;
    --color-breadcrumb_separator:#8C90A4;
    --bgcolor-footer:#353b58;
    --color-footer-divider:#353b58;
    --color-footer-title:var(--color-white);
    --color-footer-link-hover:var(--color-white);
    --color-primary:#8231D3;
    --color-secondary:#5840FF;
    --color-success:#01B81A;
    --color-info:#00AAFF;
    --color-warning:#FA8B0C;
    --color-danger:#FF0F0F;
    --color-dark:var(--white-87);
    --color-infos:#00E4EC;
    --color-warnings:#FFBB00;
    --color-dangers:#FF0F0F;
    --color-purple:#A722F6;
    --bg-primary:#8231D3;
    --bg-secondary:#5840FF;
    --bg-success:#01B81A;
    --bg-info:#00AAFF;
    --bg-warning:#FA8B0C;
    --bg-danger:#FF0F0F;
    --bg-dark:var(--white-87);
    --bg-primary-hover:#6726A8;
    --bg-secondary-hover:#3520C8;
    --bg-success-hover:#0D811D;
    --bg-info-hover:#0787C7;
    --bg-warning-hover:#D9790A;
    --bg-danger-hover:#CB0000;
    --bg-dark-hover:#272525;
    --bg-gray-hover:#585858;
    --color-primary-rgba:130,49,211;
    --color-secondary-rgba:88,64,255;
    --color-success-rgba:1,184,26;
    --color-info-rgba:0,170,255;
    --color-warning-rgba:250,139,12;
    --color-danger-rgba:255,15,15;
    --color-dark-rgba:9,14,48;
    --color-primary-rgba-shadow:rgba(var(--color-primary-rgba), 0.20);
    --color-white:var(--white-87);
    --color-gray:var(--white-60);
    --color-light:var(--white-60);
    --color-lighten:var(--white-60);
    --color-lighter:#F8F9FB;
    --color-lighten-x:#5d658c;
    --footer-dark:#353b58;
    --color-deep:#eff0f3;
    --color-normal:#f8f9fb;
    --color-lighters:#f4f5f7;
    --color-lighten-rgba:173,181,217;
    --color-gray-x:var(--white-60);
    --body-color:var(--white-60);
    --text-color:var(--white-60);
    --light-gray:var(--white-60);
    --light-gray-rgba:140,144,164;
    --border-color:var(--white-06);
    --border-deep:var(--white-06);
    --border-color:var(--white-06);
    --border-light:var(--white-06);
    --bg-normal:var(--white-10);
    --bg-lighters:var(--white-10);
    --bg-lighter:var(--white-10);
    --bg-deep:var(--white-10);
    --bg-white:var(--white-10);
    --bg-normal-rgba:248,249,251;
    --bg-lighter-rgba:244,245,247;
    --bg-deep-rgba:239,240,243;
    --color-gray-rgba:140,144,164;
    --color-dark-rgba:39,43,65;
    --color-white-rgba:255,255,255;
    --box-shadow-color-rgba:146,153,184;
    --main-color-rgba:1,4,19;
    --border-radius-xl:10px;
    --border-radius-md:6px;
    --border-radius-xs:4px;
    --color-facebook:#2366b8;
    --color-twitter:#00abe4;
    --color-pinterest:#ef1b25;
    --color-gplus:#dc4e41;
    --color-linkedin:#007cbc;
    --color-tumblr:#35465c;
    --color-vk:#4a76a8;
    --color-youtube:#e32212;
    --color-instagram:#9c27b0;
    --color-ruby:#c2185b;
    --color-facebook-rgba:35,102,184;
    --color-twitter-rgba:0,171,228;
    --color-pinterest-rgba:239,27,37;
    --color-gplus-rgba:220,78,65;
    --color-linkedin-rgba:0,124,188;
    --color-tumblr-rgba:53,70,92;
    --color-vk-rgba:74,118,168;
    --color-youtube-rgba:227,34,18;
    --color-instagram-rgba:156,39,176;
    --color-ruby-rgba:194,24,91;
    --color-primary-rgba-10:rgba(var(--color-primary-rgba), 0.1);
    --color-secondary-rgba-10:rgba(var(--color-secondary-rgba), 0.1);
    --color-primary-rgba-50:rgba(var(--color-primary-rgba), 0.5);
    --color-secondary-rgba-50:rgba(var(--color-secondary-rgba), 0.5);
    --transition:all 0.3s ease;
    --gridLines_color:rgb(255, 255, 255, .30);
    --scrollbarBG:#1b1e2b;
    --thumbBG:rgb(255, 255, 255, .30);
    --input-bg:var(--white-10);
    --input-focus-bg:var(--white-10);
    --tooltip-bg:var(--main-color);
    --tooltip-arrow-color:var(--main-color);
    --shadow2:#01041333;
    --shadow3:#01041366;
    --shadow4:#01041399;
    --shadow5:#01041399
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  #mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
  }
  @media (min-width: 992px) {
    #mainNav {
      box-shadow: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    #mainNav.navbar-shrink {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand:hover {
      color: #f4623a;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
      color: #f4623a;
    }
  }
  
  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/assets/img/image-app.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .headerTitre{
    color: #fafafa;
  }
  
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3.5rem;
    }
  }
  /*****************************************************/
  /****************************************************/
  /* .container-bar{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .search-bar{
    background: #fff;
    width: 90%;
    height: 50px;
    max-width: 800px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    /* justify-content: space-between; */
  }
  #select{
    background: #160053;
   /* float: right; /* Utiliser float:right pour positionner à droite */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 250px;
    padding: 20px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
   
  }
  #select img{
    width: 15px;
  }
  #select ul{
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    background: #fff;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  
  }
  #select ul.open{
    max-height: 300px;
  }
  
  #select ul li{
    padding: 10px 10px;
    cursor: pointer;
    direction: rtl;
  }
  #select ul li:hover{
    background: #160053;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
  }
  
  .search-bar input{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
   
  }
  
  
  /*****************************************************/
  
  
  .clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limite à 4 lignes */
  }
  
  .clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limite à 4 lignes */
  }
  
  .img-standard {
    /*width: 120px; /* Définissez la largeur souhaitée */
    /*height: 150px; /* Définissez la hauteur souhaitée */
    object-fit: cover; /* Assure le remplissage de l'espace avec l'image */
    border-radius: 10px; /* Pour des coins arrondis, ajustez selon vos préférences */
    /* Autres styles au besoin */
  }
  
  /*carouussssssseeeellllll**************************************/
  .slider{
    margin-bottom: 10px;
    position: relative;
  }
  
  .slider .owl-item.active.center .slider-card{
    transform: scale(1.15);
    opacity: 1;
    background: #4B5320;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  
  .slider-card{
    background-color: #fff;
    margin: 50px 50px 90px 50px;
    border-radius: 10px;
    box-shadow: 0 15px 45px -20px rgb(206,191,191,0.493);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
  }
  
  .slider-card img{
    border-radius: 5px 5px 0px 0px;
    object-fit: cover; /* Assure le remplissage de l'espace avec l'image */
    border-radius: 10px;
   
  }
  
  .owl-nav .owl-next{
    position:absolute;
    top: calc(50% - 20%);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  
  .owl-nav .owl-prev{
    position:absolute;
    top: calc(50% - 20%);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  
  .owl-carousel .slider-card {
    width: 150px; /* Spécifiez la largeur souhaitée */
    height: 300px; /* Spécifiez la hauteur souhaitée */
  }
  /*****************************************************/
  #btn-type{
      background: #4B5320;
      font-size: 18px;
      color: white;
      padding: 5px;
      border: none;
      border-radius: 5px;
      transition: 0.5s;
     
  }
  #btn-type:hover{
    scale: 1.1;
  }
  .product h1{
    color: #f4623a;
  }
  
  #col-filter{
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
  }
  #col-filter .c-filter h6{
    color: #4B5320;
    font-size: 30px;
    font-weight: 600;
  }
  #c-type h6{
    color: #4B5320;
    font-size: 20px;
    font-weight: 600;
  }
  
  #c-type a{
    color: gray;
    font-size: 16px;
    font-weight: 500;
  }
  #c-search form input{
    color: #4B5320;
    background: #ededed56;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: none;
    transition: 1s;
  }
  #c-search form input:focus{
    height: 45px;
    width: 400px;
    background: #ededed;
  }
  
  .c-comment{
    color: #4B5320;
    background: #ededed56;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    transition: 1s;
  }
  .c-comment:focus{
    background: #ededed;
  }
  
  
  
  /*affichege de documents*/
  .packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 12px;
    transition: 0.5s;
  }
  .packages .card:hover{
    transform: scale(1.08);
    background: #ededed;
    cursor: pointer;
  }
  .packages .card img{
    border-radius: 5px;
  }
  .packages .card .card-body{
    background: transparent;
  }
  .packages .card .card-body h3{
    font-size: 20px;
    font-weight: 500;
  }
  .packages .card .card-body p{
    font-size: 16px;
  }
  .cheked{
    color: #4B5320;
  }
  
  .packages .card .card-body h4{
    font-size: 18px;
  }
  #voir-plus:hover{
    text-decoration: none;
  }
  
  
  /************logout************/
  #selectNavLink{
      background:transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      border-radius: 4px;
  
  }
  
  #selectNavLink ul{
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    width: 150%; 
    border-radius: 4px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  #selectNavLink ul.open{
    max-height: 300px;
  }
  #selectNavLink ul li{
    padding: 10px 20px;
  }
  #selectNavLink ul li a{
    text-overflow: none;
  }
  
  #selectNavLink ul li:hover{
    background-color: rgba(75, 83, 32);
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
  }
  /*************** Add products ***********/
  #addProduct {
      color: #4B5320;
      background: #ededed56;
      margin-right: 5px;
      padding: 5px;
      border-radius: 10px;
      height: 40px;
      width: 100%;
      border: none;
      transition: 1s;
  }
  #addProducttext{
    color: #4B5320;
    background: #ededed56;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    border: none;
    transition: 1s;
  }
  /*************** Add products ***********/
  
  /************************/
  
  /* #voir-plus{
    padding: 5px;
    text-decoration: none;
    background: #4B5320;
    color: white;
    border-radius: 5px;
    transition: 1s;
  }
  #voir-plus:hover{
      transform: scale(1.1);
  } */
  /*************************************/

 
 
/***************************************/





/*****************************************

:root {
    --orange: #40fd50;
    --darkorange: #2ed21f;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px / 24px "Rubik", sans-serif;
    color: var(--black);
    background: var(--platinum);
    margin: 50px 0;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.card:hover {
    color: var(--white);
    background: var(--orange);
}

.card .card-title {
    font-size: 20px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--orange);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--darkorange);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkorange);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}